In [7]:
import pandas as pd
import numpy as np

### Ejercicio 1.
¬øCu√°ntos ataques hubo por pa√≠s? Devuelve un DataFrame.
üìå NOTA Ordena los resultados de mayor a menor. Esto todav√≠a no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values(). Aqu√≠ ten√©is una explicaci√≥n de c√≥mo hacerlo.

In [8]:
attacks = pd.read_csv('../Pandas/attacks_1_4.csv')
attacks.head(3)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href,siglo,case_number.1,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,2018.06.18,N,Minor injury to left thigh,18-Jun-2018
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,2018.06.09,N,Injury to left lower leg from surfboard skeg,09-Jun-2018

In [9]:
attacks.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'pdf',
       'href_formula', 'href', 'siglo', 'case_number.1', 'fatal_(y/n)',
       'injury', 'date'],
      dtype='object')

In [10]:
paises = attacks['country'].value_counts()
paises = paises.reset_index()
paises.sort_values(by='country', ascending=False)

                 index  country
0                  USA      741
1            AUSTRALIA      343
2         SOUTH AFRICA      234
3              BAHAMAS       29
4          NEW ZEALAND       21
..                 ...      ...
67            RED SEA?        1
68           SINGAPORE        1
69          MADAGASCAR        1
70           NICARAGUA        1
94  CEYLON (SRI LANKA)        1

[95 rows x 2 columns]

### Ejercicio 2.
¬øCu√°ntos ataques ha habido por a√±o? Devuelve un DataFrame. De nuevo ordena los resultados de mayor a menor.

In [11]:
#a√±adimos el head() al final ya que de lo contrario nos ense√±a todas las filas independientemente de lo que le pidamos X desde el m√©todo .head()
#https://stackoverflow.com/a/36074520
attack_per_year = attacks.sort_values(['year'], ascending=False).groupby('year').head() 
attack_per_year.head(3)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href,siglo,case_number.1,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
9,2018.04.03,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,19,15h00,White shark,2018.04.03-StFrancisBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,2018.05.26.a,N,Minor injury to foot,26-May-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,2018.06.18,N,Minor injury to left thigh,18-Jun-2018

### Ejercicio 3.
¬øCu√°ntos ataques hubo por a√±o y sexo? Devolved un DataFrame solo del a√±o 2000 en adelante.

In [17]:
year2000 = attacks[attacks['year'] >= 2000]
ejercicio3 = year2000.groupby('year')['sex']

df_ejercicio3 = ejercicio3.count().reset_index()
df_ejercicio3

      year  sex
0   2000.0   33
1   2001.0   29
2   2002.0   53
3   2003.0   44
4   2004.0   40
5   2005.0   45
6   2006.0   40
7   2007.0   57
8   2008.0   40
9   2009.0   42
10  2010.0   37
11  2011.0   36
12  2012.0   54
13  2013.0   48
14  2014.0   35
15  2015.0   68
16  2016.0   37
17  2017.0   30
18  2018.0   17

### Ejercicio 4.
Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA. ¬øCu√°ntos de los ataques fueron letales por sexo? Devuelve un DataFrame.

In [13]:
lista_paises = ['USA', 'AUSTRALIA', 'SOUTH AFRICA']
attacks_por_pais = attacks[attacks['country'].isin(lista_paises)]

In [14]:
letales = np.where(attacks_por_pais['fatal_(y/n)'] == 'Y')
sexo = np.where(attacks_por_pais['sex'])

In [18]:
attacks_por_pais.groupby(letales, sexo)

TypeError: unhashable type: 'numpy.ndarray'

In [16]:
df_letal = attacks_por_pais[(attacks_por_pais['fatal_(y/n)'] == 'Y')]
df_letal.head(3)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href,siglo,case_number.1,fatal_(y/n),injury,date
6,2018.04.25.a,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,2018.04.25.a-Bruce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,2018.06.03.a,Y,FATAL,03-Jun-2018
58,2016.08.06,2016.0,Unprovoked,USA,Hawaii,Maui,SUP Foil boarding,Connor Baxter,M,21,16h30,"Tiger shark, 10'",2016.08.06-Baxter.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,2017.11.30.a,Y,FATAL,30-Nov-2017
64,2016.06.21.b,2016.0,Unprovoked,USA,South Carolina,"North Myrtle Beach, Horry County",Floating,Jeff Schott,M,42,15h25,3' to 5' shark,2016.06.21.b-Schott.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,2017.11.04,Y,FATAL,04-Nov-2017

In [ ]:
#ataques por sexo:
df_letal['sex'].value_counts()

  index  sex
0     M   90
1     F    7

### Ejercicio 5.
Usando el DataFrame creado en el ejercicio anterior. ¬øEn qu√© pa√≠s hubo m√°s ataques?

In [46]:
ej5 = attacks_por_pais['country'].value_counts()
print(f'La mayor√≠a de ataques tuvo lugar en {ej5.keys()[0]}, con un total de {ej5[0]} ataques.')

La mayor√≠a de ataques tuvo lugar en USA, con un total de 741 ataques.

### Ejercicio 6.
¬øQu√© y cu√°ntos tipos de ataques hubo por pa√≠s?

In [57]:
ej6 = attacks.sort_values(['type'], ascending=False).groupby('country').head()
ej6.head(3)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href,siglo,case_number.1,fatal_(y/n),injury,date
836,1997.10.28.a,1997.0,Unprovoked,USA,Hawaii,"Waiokapua Bay/Majors Bay, Brennecke Beach, Poi...",Body boarding or surfing,Mike Coots,M,19,07h20,"Tiger shark, 4 m to 4.3 m [13' to 14']",1997.10.28.a-Coots.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,2011.12.05,NaN,Killed by a shark or crocodile.,05-Dec-2011
1097,1981.10.19.a,1981.0,Unprovoked,USA,Florida,"Jupiter Island, Brevard County",Swimming,Van Horn Ely,M,19,11h30,1.8 m to 2.4 m [6' to 8'] shark,1981.10.19.a-VanHornEly.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,2009.08.01,N,Right ankle & foot bitten,01-Aug-2009
1064,1984.07.24.a,1984.0,Unprovoked,USA,Texas,South Padre Island,Swimming,Carmen Gaytan,F,18,12h00,1.2 m [4'] shark,1984.07.24.a-Gaytan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,2009.12.06,N,Lacerations & puncture wounds to right calf & ...,05-Dec-2009